/* Importando a fonte utilizada no site */
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Caracteristica da rolagem do site e implementação da fonte */
* {
    scroll-behavior: smooth;
    font-family: 'Istok Web'; 
}

/* COnfigurações do body (Sem margem e padding) */
body {
    margin: 0;
    padding: 0;
}

/* Criação das variáveis para o tamanho das páginas */
:root {
    --tamanho-header: 80px;
    --tamanho-banner: calc(100vh + var(--tamanho-header));
    --tamanho-pagina: calc(100vh + var(--tamanho-header) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 200px;
}

/* Início do Header */
.header {
    display: flex;
      width: 100%;
      background-image: linear-gradient(to right, #F5F5F5, #8F8F8F);
      justify-content: center;    
  }

  .header .container {
    height: 30%;
  }
  
  .container {
    height: 100%;
      display: flex;
      width: 80%;
      margin: auto;
  }
  
  
    .header a {
      font-size: large;
      text-decoration: none;
    }
  
    .navbar {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;
    }
  
    .header .img-navbar {
      width: 80px;
      height: 80px;
    }

    /* Fim do Header */

    /* Primeira  página com curiosidades - 06/01/25 */

    .curiosidades-1 {
      height: var(--tamanho-banner);
      background-image: url(../assets/imgs/Fundo\ Site.png);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .caixas-1 {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
    }

    .caixas-1 .caixa-1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .caixas-1 .caixa-2 {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }

    .caixas-1 .caixa-3 {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    p {
      font-size: larger;
    }

    /* Fim da Primeira  página com curiosidades - 06/01/25 */

    /* Segunda  página com curiosidades - 06/01/25 */

    .curiosidades-2 {
      background-color: #F5F5F5;
      height: var(--tamanho-banner);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .caixas-2 {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
    }

    .caixas-2 .caixa-2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .caixas-2 .caixa-1 .caixa-3 {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      align-items: center;
    }

    /* Fim Segunda  página com curiosidades - 06/01/25 */

    /* Terceira página com curiosidades - 06/01/25 */

    .curiosidades-3 {
      height: var(--tamanho-banner);
      background-image: url(../assets/imgs/Fundo\ Site.png);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .caixas-3 {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
    }

    .caixas-3 .caixa-1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .caixas-3 .caixa-2 {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }

    .caixas-3 .caixa-3 {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    /* Página do gráfico */

    .pagina-grafico {
      background-color: #F5F5F5;
      display: flex;
      height: var(--tamanho-banner);
      background-repeat: no-repeat;
      background-size: cover;
    }

   .pagina-grafico .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
   }

   .quadro {
    display: flex;
    height: 500px;
    width: 500px;
    margin-bottom: 10%;
    justify-content: center;
    align-items: center;
   }

   .footer {
    display: flex;
    width: 100%;
    background-image: linear-gradient(to right, #F5F5F5, #8F8F8F);
    justify-content: center;    
  }

  .footer .container {
    justify-content: center;
    text-align: center;
  }

  /* Resolução das imagens - 13/01/25 */

  .img-domjoao {
    height: 275px;
    width: 210px;
    border-radius: 10px;
  }

  .img-praiaxviii {
    width: 256px;
    height: 205px;
    border-radius: 10px ;
  }

  .img-manet {
    height: 200px;
    width: 246px;
    border-radius: 10px;
  }

  .img-praiacassino {
    width: 270px;
    height: 180px;
    border-radius: 10px;
  }

  .img-praiadiamante {
    width: 320px;
    height: 180px;
    border-radius: 10px;
  }

  .img-praiarosa {
    width: 326px;
    height: 217px;
    border-radius: 10px;
  }

  .img-tartarugaplastico {
    width: 400px;
    height: 224px;
    border-radius: 10px;
  }

  .img-inundacao {
    width: 300px;
    height: 165px;
    border-radius: 10px;
    margin-right: 20px;
  }

  .img-ilhalixo {
    width: 326px;
    height: 206px;
    border-radius: 10px;
  }