@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    scroll-behavior: smooth;
    font-family: 'Istok Web';
    font-weight: 'Istok Web';
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../assets/imgs/Fundo\ Site.png);
    background-repeat: no-repeat;
    background-size: cover;
}

:root {
    --tamanho-header: 100px;
    --tamanho-banner: calc(100vh + var(--tamanho-header));
    --tamanho-pagina: calc(100vh + var(--tamanho-header) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 200px;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.header {
    width: 100%;
    height: var(--tamanho-header);
    background-image: linear-gradient(to right, #F5F5F5, #8F8F8F);
    position: fixed;
    justify-content: center;    
    height: 90px;
}

  .header a {
    font-size: large;
    text-decoration: none;
    color: #000;
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }

  .header .img-navbar {
    width: 80px;
    height: 80px;
  }



