@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    scroll-behavior: smooth;
    font-family: 'Istok Web';
}

body {
    margin: 0;
    padding: 0;
}

:root {
    --tamanho-header: 80px;
    --tamanho-banner: calc(100vh + var(--tamanho-header));
    --tamanho-pagina: calc(100vh + var(--tamanho-header) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 100px;
}

.header {
  display: flex;
    width: 100%;
    background-image: linear-gradient(to right, #F5F5F5, #8F8F8F);
    justify-content: center;    
}

.container {
  height: 100%;
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    flex-direction: column;
}


  .header a {
    font-size: large;
    text-decoration: none;
    color: #000;
  }

  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }

  .header img {
    width: 80px;
    height: 80px;
  }

  .hello {
    align-self: center;
  }

  .pagina {
    height: var(--tamanho-pagina);
    background-image: url(./../assets/imgs/Fundo\ Site.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .indicadores {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, #f5f5f5, #8d8d8d);
    border-radius: 20px;
    padding: 20px;
  }

  .quadro {
    background-image: linear-gradient(to right, #f5f5f5, #8d8d8d);
    border-radius: 20px;
  }

  .kpi-fav {
     background-image: linear-gradient(to right, #8fff6a, #31ad00);
     height: 50px;
     padding: 10px;
     border-radius: 20px;
}

.kpi-fav span {
  align-self: center;
}

.kpi-nfav {
    background-image: linear-gradient(to right, #ff6a6a, #ff0000);
    height: 50px;
    padding: 10px;
    border-radius: 20px;
  }

    .kpi-praia-usuario {
      background-image: linear-gradient(to right, #faff6c, #ffdd00);
      height: 50px;
      padding: 10px;
      border-radius: 20px;
    }

    .kpi-num-avaliacoes {
      background-image: linear-gradient(to right, #5dc6ff, #00b7ff);
      height: 50px;
      padding: 10px;
      border-radius: 20px;
    }

  .footer {
    display: flex;
    width: 100%;
    background-image: linear-gradient(to right, #F5F5F5, #8F8F8F);
    justify-content: center;    
  }

  .footer .container {
    justify-content: center;
    text-align: center;
  }